@model FooterModel
@using SmartStore.Web.Models.Common;
@{
	var footerLinks = new List<Tuple<string, string>>
{
// Item1 = TopicUrl, Item2 = Locale Resource Key
new Tuple<string, string>(Url.TopicUrl("aboutus"), "AboutUs"),
new Tuple<string, string>(Url.TopicUrl("disclaimer"), "Disclaimer"),
new Tuple<string, string>(Url.TopicUrl("privacyinfo"), "PrivacyNotice"),
new Tuple<string, string>(Url.TopicUrl("conditionsofuse"), "ConditionsOfUse")
};

	var socialLinks = new List<Tuple<string, string>>();
	if (Model.FacebookLink.HasValue())
	{
		socialLinks.Add(new Tuple<string, string>(Model.FacebookLink, "facebook"));
	}

	if (Model.GooglePlusLink.HasValue())
	{
		socialLinks.Add(new Tuple<string, string>(Model.GooglePlusLink, "google-plus"));
	}

	if (Model.TwitterLink.HasValue())
	{
		socialLinks.Add(new Tuple<string, string>(Model.TwitterLink, "twitter"));
	}

	if (Model.PinterestLink.HasValue())
	{
		socialLinks.Add(new Tuple<string, string>(Model.PinterestLink, "pinterest"));
	}

	if (Model.YoutubeLink.HasValue())
	{
		socialLinks.Add(new Tuple<string, string>(Model.YoutubeLink, "youtube"));
	}

	if (Model.InstagramLink.HasValue())
	{
		socialLinks.Add(new Tuple<string, string>(Model.InstagramLink, "instagram"));
	}

	var invserseFooter = GetThemeVariable<bool>("inverse-footer");
}
@{ Html.RenderWidget("footer_top"); }

<!--Footer area start here-->
<footer class="top-foo">
	<div id="footer-js">
		<div class="footer-top section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="con">
							<h2 class="wow  fadeIn animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: fadeIn;">Subscribe to us!</h2>
							<ul>
								<li class="wow  fadeIn animated" data-wow-duration="1.3s" style="visibility: visible; animation-duration: 1.3s; animation-name: fadeIn;"><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li class="wow  fadeIn animated" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5; animation-name: fadeIn;"><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li class="wow  fadeIn animated" data-wow-duration="1.9s" style="visibility: visible; animation-duration: 1.9s; animation-name: fadeIn;"><a href="#"><i class="fa fa-send-o"></i></a></li>
								<li class="wow  fadeIn animated" data-wow-duration="2.1s" style="visibility: visible; animation-duration: 2.1s; animation-name: fadeIn;"><a href="#"><i class="fa fa-bitcoin"></i></a></li>
								<li class="wow  fadeIn animated" data-wow-duration="2.4s" style="visibility: visible; animation-duration: 2.4s; animation-name: fadeIn;"><a href="#"><i class="fa fa-envelope"></i></a></li>
							</ul>
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="search_btm wow  fadeIn animated" data-wow-duration="2.6s" style="visibility: visible; animation-duration: 2.6s; animation-name: fadeIn;">
										<div class="search_main">
											<input type="text" placeholder="enter your email address">
											<button type="submit">subscribe</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<footer class="foo-bot">
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="copyright wow  fadeIn animated" data-wow-duration="1.9s" style="visibility: visible; animation-duration: 1.0s; animation-name: fadeIn;">
						<p>
							© 2017-2018 <a href="#"><span>Bit Money</span></a> | All rights reserved. Design by
							<a href="http://webstrot.com/" target="_blank"> <span>webstrot</span></a>
						</p>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="foo-link wow  fadeIn animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: fadeIn;">
						<ul>
							<li><a href="#">WhitePaper</a></li>
							<li><a href="#">Terms of Service</a></li>
							<li><a href="#">Privacy Policy</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

