@model  AdCampaign
@using SmartStore.Core.Domain.Advertisments
@if (Model != null)
{
	<a href="@Model.WebsiteUrl" target="_blank"><img src="@Model.Banner125" height="125" width="125" title="@Model.Name" /></a>
}
