/*header {
	background: #1c66de!important;
}*/
.dashboard h1{font-size: 20px; margin-bottom:20px;}
.bg-primary{background-color:#2a8cd5!important;}
.dashboard .bg-warning, #content .bg-warning {
    background-color: #1d5d95!important;
}
.dashboard .bg-success, #content .bg-success {
    background-color: #0e2e49!important;
}
.dashboard .bg-danger, #content .bg-danger {
    background-color: #113656 !important;
}
.adminmenu{display: none;}
.dashboard .card-body-icon i, #content .card-body-icon i{font-size: 40px;}
body{background-color: #18509f!important;}
#content{background:#234e91!important; box-shadow: none!important; border:1px solid #325da0;}
h1, .title, .section-header .title > i, table tr th, table tr td, body{color:#b1c8ec!important;}
a{color:#7fadf4!important;}
a.btn{color:#ffffff!important;}
#navbar .nav-item .navbar-label{color:#ffffff!important;}
.table thead th, .t-grid > table thead th, .t-grid > form > table thead th{border-bottom:1px solid #3f6cb2!important; }
.table-bordered th, .table-bordered td, .table-bordered{border:1px solid #3f6cb2!important; }
.table tr td, .table tr th{background:#265296!important;}
.dashboard .card{margin-bottom:30px!important;}
.mt-25{margin-top:25px!important;}
.tablecenter{margin:0px auto;} 
.form-control, input[type=text]:not([class*="form-control"]), input[type=password]:not([class*="form-control"]), input[type=email]:not([class*="form-control"]), input[type=number]:not([class*="form-control"]), input[type=tel]:not([class*="form-control"]), .t-numerictextbox > .t-input, select:not([class*="form-control"]), textarea:not([class*="form-control"]),
.select2-container--bootstrap .select2-selection
{background: #2c5da8!important; border:1px solid #2c5da8!important;color: #fff!important;}
.select2-container .select2-selection--single .select2-selection__rendered, .select2-container--bootstrap .select2-results__option[aria-selected=true]{color:#fff!important;}
.select2-container--bootstrap .select2-selection--single .select2-selection__arrow, .input-group-text{background: #25559e!important; border-left:0px!important;}
.input-group-text{color:#fff!important; border:0px!important;}
.select2-container--bootstrap .select2-selection--single .select2-selection__arrow b{border-color: #fff transparent transparent transparent!important;}
.select2-container--bootstrap .select2-results, .t-grid-pager, grid, .t-grid-pager .t-state-active{background:#2c5da8!important; color:#fff!important; border-color:#2c5da8!important;}
.select2-dropdown{ border-color:#2c5da8!important;}
.select2-results__option.select2-results__option--highlighted, .t-header, .t-grid-header, .t-toolbar, .t-grouping-header, .t-tooltip, .t-grid-pager.adminmenu.t-grid > table td, .t-grid > table th, .t-grid > form > table td, .t-grid > form > table th,
.t-grid > table td, .t-grid > table th, .t-grid > form > table td, .t-grid > form > table th
{background:#1f498a!important; color:#fff!important; border-color:#2c5da8!important;}
.t-grid{box-shadow: none!important;}
.t-widget, .t-input{border-color:#2c5da8!important;}
.bootstrap-datetimepicker-widget, .t-numerictextbox:after{background:#1f498a!important; color:#fff!important; border-color:#2c5da8!important;}
.t-numerictextbox a{font-size: 0px!important;}
.t-numerictextbox .t-input ~ .t-icon:before{color:#fff!important;}


@media screen and (max-width:980px){
    #navbar-menu{    position: absolute!important;  top:70px; left: -150px; transition: ease-in all 0.5s; z-index: 9999;  background: #00152d;}
    #navbar-menu ul li a span{display:block!important;}
    .navbar-collapse.showmenun{left:0!important ; transition: ease-in all 0.5s; }
    #navbar-menu ul li{float: none!important;}
    #navbar-menu ul{flex-direction: column!important;}
    .adminmenu{ cursor:pointer; display: block; color:#fff!important; font-size:20px;} 

    
   
}
@media screen and (max-width:767px){
    .navbar-expand{flex-flow:row wrap!important;}
    #content{margin-top:25px!important; }
    .navbar-nav{display: block!important;}
    .navbar-nav li{float: left;}
    #navbar .nav-item .nav-link{padding: 14px 20px!important;}
    header{margin-bottom: 0px!important;}
    


}