﻿@model HomeModel
@using SmartStore.Web.Models.Home
@{
	Layout = "_Layout";
	var Package = Model.plans.FirstOrDefault();
}
<!--Slider area start here-->
<section class="slider-area">
	<canvas id="canvas"></canvas>
	<div id="particles-js">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<div class="carousel-captions caption-1">
						<div class="container">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
									<div class="slider-content">
										<ul>
											<li data-animation="animated bounceInDown" class="slider_social_icon1"><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li data-animation="animated bounceInDown" class="slider_social_icon2"><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li data-animation="animated bounceInDown" class="slider_social_icon3"><a href="#"><i class="fa fa-send-o"></i></a></li>
											<li data-animation="animated bounceInDown" class="slider_social_icon4"><a href="#"><i class="fa fa-bitcoin"></i></a></li>
											<li data-animation="animated bounceInDown" class="slider_social_icon5"><a href="#"><i class="fa fa-envelope"></i></a></li>
										</ul>
										<h2 data-animation="animated bounceInLeft">LTC Trade - Smart <br>Investment Platform</h2>
										<div class="buttons">
											<a href="~/register" class="btn1" data-animation="animated bounceInUp">Get Started</a>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 hidden-xs hidden-sm">
									<div class="btc_slider_about_img" data-animation="animated bounceInDown">
										<img src="~/Content/images/about/ltc.png" alt="about_img">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="container">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<div class="slider-content">
									<ul>
										<li data-animation="animated bounceInDown" class="slider_social_icon1"><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li data-animation="animated bounceInDown" class="slider_social_icon2"><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li data-animation="animated bounceInDown" class="slider_social_icon3"><a href="#"><i class="fa fa-send-o"></i></a></li>
										<li data-animation="animated bounceInDown" class="slider_social_icon4"><a href="#"><i class="fa fa-bitcoin"></i></a></li>
										<li data-animation="animated bounceInDown" class="slider_social_icon5"><a href="#"><i class="fa fa-envelope"></i></a></li>
									</ul>
									<h2 data-animation="animated bounceInLeft">Earn 0.25% <br>for lifetime</h2>
									<div class="buttons">
										<a href="~/register" class="btn1" data-animation="animated bounceInUp">Get Started</a>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12  hidden-xs hidden-sm">
								<div class="btc_slider_about_img" data-animation="animated bounceInDown">
									<img src="~/Content/images/about/1.png" alt="about_img">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-nevigation">
					<a class="prev" href="#carousel-example-generic" role="button" data-slide="prev">
						<i class="fa fa-angle-left"></i>
					</a>
					<a class="next" href="#carousel-example-generic" role="button" data-slide="next">
						<i class="fa fa-angle-right"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!--Slider area end here-->
<section class="currency-area">
	<div class="container-fliud">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="rete-list bt_title wow  fadeIn animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: fadeIn;">
					<div class="content">
						<div class="con">
							<h2><img src="~/Content/images/icons/1.png" alt=""><span>Bitcoin</span></h2>
							<button class="btn3">4.160651 BTC</button>
						</div>
					</div>
				</div>
				<div class="rete-list bt_title wow  fadeIn animated" data-wow-duration="1.3s" style="visibility: visible; animation-duration: 1.3s; animation-name: fadeIn;">
					<div class="content">
						<div class="con">
							<h2><img src="~/Content/images/icons/2.png" alt=""><span>Ethereum</span></h2>
							<button class="btn3">3.245000 ETH</button>
						</div>
					</div>
				</div>
				<div class="rete-list bt_title wow  fadeIn animated" data-wow-duration="1.6s" style="visibility: visible; animation-duration: 1.6s; animation-name: fadeIn;">
					<div class="content">
						<div class="con">
							<h2><img src="~/Content/images/icons/3.png" alt=""><span>Dollar (USD)</span></h2>
							<button class="btn3">58634.000 USD</button>
						</div>
					</div>
				</div>
				<div class="rete-list bt_title wow  fadeIn animated" data-wow-duration="1.9s" style="visibility: visible; animation-duration: 1.9s; animation-name: fadeIn;">
					<div class="content">
						<div class="con">
							<h2><img src="~/Content/images/icons/4.png" alt=""><span>Total USD</span></h2>
							<button class="btn3">111969.062 USD</button>
						</div>
					</div>
				</div>
				<div class="rete-list hidden-md   wow  fadeIn animated" data-wow-duration="2.1s" style="visibility: visible; animation-duration: 2.1s; animation-name: fadeIn;">
					<div class="content">
						<div class="con">
							<h2><img src="~/Content/images/icons/5.png" alt=""><span>Token Sale</span></h2>
							<button class="btn3">346636.775</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--About area start here-->
<div section-scroll='1' class="wd_scroll_wrap">
	<section class="about-area pd-t70 pd-b100 jarallax bg-img">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="about-content">
						<h2 class="f-40 fw-400 wow  fadeIn animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: fadeIn;">About LTCTrade</h2>
						<p class="wow  fadeIn animated" data-wow-duration="1.3s" style="visibility: visible; animation-duration: 1.3s; animation-name: fadeIn;">LTC Trade is a lending and investment, multicurrency and multifunctional online platform based on blockchain technology. Investors have the opportunity to earn daily interest on crypto currency they hold.</p>
						<p class="wow  fadeIn animated" data-wow-duration="1.6s" style="visibility: visible; animation-duration: 1.6s; animation-name: fadeIn;">LTC Trade is a unique service that allows individuals to profit from the comfort of their home in fiat currencies from the growing crypto market.</p>
						<p class="wow  fadeIn animated" data-wow-duration="1.9s" style="visibility: visible; animation-duration: 1.9s; animation-name: fadeIn;">LTC Trade is the only platform where you can deposit and withdraw your funds at any moment of time with certain terms</p>
						<div class="buttons">
							<a href="#" class="btn1">WHITEPAPER</a>
							<a href="#" class="btn3">Buy Tokens Now!</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="btc_timer_section_wrapper">
						<div id="clockdiv">
							<div>
								<span class="days"></span>
								<div class="smalltext">Days</div>
							</div>
							<div>
								<span class="hours"></span>
								<div class="smalltext">Hours</div>
							</div>
							<div>
								<span class="minutes"></span>
								<div class="smalltext">Minutes</div>
							</div>
							<div>
								<span class="seconds"></span>
								<div class="smalltext">Seconds</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--About area end here-->
	<div class="sud">
		<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 181.1" style="enable-background:new 0 0 1920 181.1;" xml:space="preserve">
		<style type="text/css">

			.st0 {
				fill-rule: evenodd;
				clip-rule: evenodd;
				fill: #10122d;
			}
</style>
		<g>
		<path class="st0" d="M0,80c0,0,28.9-4.2,43-13c14.3-9,71-35.7,137,5c17.3,7.7,33.3,13,48,11c17.3,0.3,50.3,4.7,66,23
                     c20.3,9.7,68,40.3,134-12c24-11,59-16.3,104,2c21,7.3,85,27.7,117-14c24-30.7,62.7-55,141-12c26,10.3,72,14.7,110-14
                     c37.7-19,89.7-29,122,53c23,32.7,47.7,66.3,97,26c24-22.7,51-78.3,137-38c0,0,28.3,15.7,52,15c23.7-0.7,50.7,4.3,76,41
                     c19.7,19.7,71,36.7,121-2c0,0,22.3-16,55-12c0,0,32.7,6.7,56-71c23.3-76,79-92,122-29c9.3,13.7,25,42,62,43c37,1,51.7,25.3,67,48
                     c15.3,22.7,51,22.7,53,23v28.1H0V80z" />



                </g>
            </svg>
	</div>
</div>
<div section-scroll='2' class="wd_scroll_wrap">
	<section class="features-area section">
		<div id="features-js">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="section-heading2 wow  fadeIn animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: fadeIn;">
							<h2>Our Features</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="featured-lists">
							<ul>
								<li>
									<div class="col-sm-6 pd-0 hidden-xs wow  fadeIn animated" data-wow-duration="1.3s" style="visibility: visible; animation-duration: 1.3s; animation-name: fadeIn;">
										<div class="contents-l mr-b30">
											<h2>Lending</h2>
											<p>
												Unique platform for lending and investment with a safety fund
												<br>and cooperation with world-wide arbitration.
											</p>
											<a href="#" class="btn1">read more</a>
										</div>
									</div>
									<div class="col-sm-6 pd-0 wow  fadeIn animated" data-wow-duration="1.3s" style="visibility: visible; animation-duration: 1.3s; animation-name: fadeIn;">
										<div class="imgs-l">
											<figure><img src="~/Content/images/features/1.png" alt="" /></figure>
										</div>
									</div>
									<div class="col-sm-6 pd-0 visible-xs  wow  fadeIn animated" data-wow-duration="1.3s" style="visibility: visible; animation-duration: 1.3s; animation-name: fadeIn;">
										<div class="contents-l mr-b30">
											<h2>Lending</h2>
											<p>
												Unique platform for lending and investment with a safety fund
												<br>and cooperation with world-wide arbitration.
											</p>
											<a href="#" class="btn1">read more</a>
										</div>
									</div>
								</li>
								<li class="rl">
									<div class="col-sm-6 pd-0 floatright mr-b30 hidden-xs wow  fadeIn animated" data-wow-duration="1.6s" style="visibility: visible; animation-duration: 1.6s; animation-name: fadeIn;">
										<div class="contents-r">
											<h2>Exchange Money</h2>
											<p>
												Exchange between all popular currencies with a couple of clicks.
												<br>Instant send from one currency to another.
											</p>
											<a href="#" class="btn1">read more</a>
										</div>
									</div>
									<div class="col-sm-6 pd-0 wow  fadeIn animated" data-wow-duration="1.6s" style="visibility: visible; animation-duration: 1.6s; animation-name: fadeIn;">
										<div class="imgs-r">
											<figure><img src="~/Content/images/features/2.png" alt="" /></figure>
										</div>
									</div>
									<div class="col-sm-6 pd-0 floatright mr-b30 visible-xs wow  fadeIn animated" data-wow-duration="1.6s" style="visibility: visible; animation-duration: 1.6s; animation-name: fadeIn;">
										<div class="contents-r">
											<h2>Exchange Money</h2>
											<p>
												Exchange between all popular currencies with a couple of clicks.
												<br>Instant send from one currency to another.
											</p>
											<a href="#" class="btn1">read more</a>
										</div>
									</div>
								</li>
								<li>
									<div class="col-sm-6 pd-0 hidden-xs wow  fadeIn animated" data-wow-duration="1.9s" style="visibility: visible; animation-duration: 1.9s; animation-name: fadeIn;">
										<div class="contents-l mr-b30">
											<h2>Investment</h2>
											<p>
												Improved system of borrower's verification. Providing
												<br>verification services for other services.
											</p>
											<a href="#" class="btn1">read more</a>
										</div>
									</div>
									<div class="col-sm-6 pd-0 wow  fadeIn animated" data-wow-duration="1.9s" style="visibility: visible; animation-duration: 1.9s; animation-name: fadeIn;">
										<div class="imgs-l">
											<figure><img src="~/Content/images/features/3.png" alt="" /></figure>
										</div>
									</div>
									<div class="col-sm-6 pd-0 visible-xs wow  fadeIn animated" data-wow-duration="1.9s" style="visibility: visible; animation-duration: 1.9s; animation-name: fadeIn;">
										<div class="contents-l mr-b30">
											<h2>Investment</h2>
											<p>
												Improved system of borrower's verification. Providing
												<br>verification services for other services.
											</p>
											<a href="#" class="btn1">read more</a>
										</div>
									</div>
								</li>
								<li class="rl">
									<div class="col-sm-6 pd-0 floatright mr-b30 hidden-xs wow  fadeIn animated" data-wow-duration="2.1s" style="visibility: visible; animation-duration: 2.1s; animation-name: fadeIn;">
										<div class="contents-r">
											<h2>Online Wallet</h2>
											<p>
												Keep your money, exchange your money, invest your money, pay
												<br>services and make purchases.
											</p>
											<a href="#" class="btn1">read more</a>
										</div>
									</div>
									<div class="col-sm-6 pd-0 wow  fadeIn animated" data-wow-duration="2.1s" style="visibility: visible; animation-duration: 2.1s; animation-name: fadeIn;">
										<div class="imgs-r">
											<figure><img src="~/Content/images/features/4.png" alt="" /></figure>
										</div>
									</div>
									<div class="col-sm-6 pd-0 floatright mr-b30 visible-xs wow  fadeIn animated" data-wow-duration="2.1s" style="visibility: visible; animation-duration: 2.1s; animation-name: fadeIn;">
										<div class="contents-r">
											<h2>Online Wallet</h2>
											<p>
												Keep your money, exchange your money, invest your money, pay
												<br>services and make purchases.
											</p>
											<a href="#" class="btn1">read more</a>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<div section-scroll='3' class="wd_scroll_wrap">
	<section class="projects bg-img pd-t100 pd-b70 jarallax">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
					<div class="section-heading">
						<h2 class="wow  fadeIn animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: fadeIn;">Advantage of the Project</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="project-list wow  fadeIn animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: fadeIn;">
						<div class="content">
							<span class="icons"><img src="~/Content/images/icons/6.png" alt="" /></span>
							<h3>Blockchain <br>Technology</h3>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="project-list wow  fadeIn animated" data-wow-duration="1.3s" style="visibility: visible; animation-duration: 1.3s; animation-name: fadeIn;">
						<div class="content">
							<span class="icons"><img src="~/Content/images/icons/7.png" alt="" /></span>
							<h3>Advanced <br>Security System</h3>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="project-list wow  fadeIn animated" data-wow-duration="1.6s" style="visibility: visible; animation-duration: 1.6s; animation-name: fadeIn;">
						<div class="content">
							<span class="icons"><img src="~/Content/images/icons/8.png" alt="" /></span>
							<h3>Multicurrency <br>Coins</h3>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="project-list wow  fadeIn animated" data-wow-duration="1.9s" style="visibility: visible; animation-duration: 1.9s; animation-name: fadeIn;">
						<div class="content">
							<span class="icons"><img src="~/Content/images/icons/9.png" alt="" /></span>
							<h3>Internal <br>Exchange</h3>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="project-list wow  fadeIn animated" data-wow-duration="2.1s" style="visibility: visible; animation-duration: 2.1s; animation-name: fadeIn;">
						<div class="content">
							<span class="icons"><img src="~/Content/images/icons/10.png" alt="" /></span>
							<h3>Safety <br>Fund</h3>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="project-list wow  fadeIn animated" data-wow-duration="2.4s" style="visibility: visible; animation-duration: 2.4s; animation-name: fadeIn;">
						<div class="content">
							<span class="icons"><img src="~/Content/images/icons/11.png" alt="" /></span>
							<h3>Cooperation <br>With Arbitration</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>


<div section-scroll='6' class="wd_scroll_wrap">
	<section class="tokens-area section">
		<div id="token-js">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="section-heading2">
							<h2 class="wow  fadeIn animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: fadeIn;">Our Investment Plan</h2>
						</div>
					</div>
					<div class="col-lg-10 col-md-9 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right wow  fadeIn animated" data-wow-duration="1.3s" style="visibility: visible; animation-duration: 1.3s; animation-name: fadeIn;">
							<div class="tokens mr-l50">
								<div class="token-name">0.25% Lifetime</div>
								<div class="token-body">
									<p>Minimum Investment $10</p>
									<p>Maximum Investment $10000</p>
									<button class="left-btn">Get Started Now</button>
									<span class="easypiechart skill-circle">
										<span class="percent head-font">0.25</span>
										<br>
										<span class="con">Lifetime</span>
									</span>
								</div>
							</div>
						</div>
						
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
							<p class="token-con wow  fadeIn animated" data-wow-duration="1.9s" style="visibility: visible; animation-duration: 1.9s; animation-name: fadeIn;">The sale of tokens It is a long established fact that a reader will be distracted by the<span> readable content of a page when looking at its layout.</span>There are many variations of passages of Lorem Ipsum available. There are many variations of passages. </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<div section-scroll='7' class="wd_scroll_wrap">
	<section class="blog-area section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="section-heading2">
						<h2 class="wow  fadeIn animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: fadeIn;">Latest News</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="blog-slider">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="blog wow  fadeIn animated" data-wow-duration="1.3s" style="visibility: visible; animation-duration: 1.3s; animation-name: fadeIn;">
							<figure><img src="~/Content/images/blog/1.jpg" alt="" /></figure>
							<div class="content">
								<span><i class="fa  fa-calendar-o"></i>January 29, 2018</span>
								<h4><a href="#">Report about the team's trip to the road show</a></h4>
								<p>Nam nec tellus a odio tincidunt auctor are odio sed non mauris. This is Photoshop's ern of Lorem Ipsum Proin gravida.</p>
								<a href="#" class="blog-btn">read more <i class="fa  fa-arrow-circle-o-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="blog wow  fadeIn animated" data-wow-duration="1.6s" style="visibility: visible; animation-duration: 1.6s; animation-name: fadeIn;">
							<figure><img src="~/Content/images/blog/2.jpg" alt="" /></figure>
							<div class="content">
								<span><i class="fa  fa-calendar-o"></i>January 29, 2018</span>
								<h4><a href="#">Report about the team's trip to the road show</a></h4>
								<p>Nam nec tellus a odio tincidunt auctor are odio sed non mauris. This is Photoshop's ern of Lorem Ipsum Proin gravida.</p>
								<a href="#" class="blog-btn">read more <i class="fa  fa-arrow-circle-o-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="blog wow  fadeIn animated" data-wow-duration="1.8s" style="visibility: visible; animation-duration: 1.8s; animation-name: fadeIn;">
							<figure><img src="~/Content/images/blog/3.jpg" alt="" /></figure>
							<div class="content">
								<span><i class="fa  fa-calendar-o"></i>January 29, 2018</span>
								<h4><a href="#">Report about the team's trip to the road show</a></h4>
								<p>Nam nec tellus a odio tincidunt auctor are odio sed non mauris. This is Photoshop's ern of Lorem Ipsum Proin gravida.</p>
								<a href="#" class="blog-btn">read more <i class="fa  fa-arrow-circle-o-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="blog">
							<figure><img src="~/Content/images/blog/1.jpg" alt="" /></figure>
							<div class="content">
								<span><i class="fa  fa-calendar-o"></i>January 29, 2018</span>
								<h4><a href="#">Report about the team's trip to the road show</a></h4>
								<p>Nam nec tellus a odio tincidunt auctor are odio sed non mauris. This is Photoshop's ern of Lorem Ipsum Proin gravida.</p>
								<a href="#" class="blog-btn">read more <i class="fa  fa-arrow-circle-o-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="blog">
							<figure><img src="~/Content/images/blog/2.jpg" alt="" /></figure>
							<div class="content">
								<span><i class="fa  fa-calendar-o"></i>January 29, 2018</span>
								<h4><a href="#">Report about the team's trip to the road show</a></h4>
								<p>Nam nec tellus a odio tincidunt auctor are odio sed non mauris. This is Photoshop's ern of Lorem Ipsum Proin gravida.</p>
								<a href="#" class="blog-btn">read more <i class="fa  fa-arrow-circle-o-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="blog">
							<figure><img src="~/Content/images/blog/3.jpg" alt="" /></figure>
							<div class="content">
								<span><i class="fa  fa-calendar-o"></i>January 29, 2018</span>
								<h4><a href="#">Report about the team's trip to the road show</a></h4>
								<p>Nam nec tellus a odio tincidunt auctor are odio sed non mauris. This is Photoshop's ern of Lorem Ipsum Proin gravida.</p>
								<a href="#" class="blog-btn">read more <i class="fa  fa-arrow-circle-o-right"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="view-btn">
					<a href="#">All News</a>
				</div>
			</div>
		</div>
	</section>
	
	<section class="blog-area section contt_area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="section-heading2">
						<h2 class="wow  fadeIn animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: fadeIn;">Contact Us</h2>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow  fadeIn animated" data-wow-duration="1.0s">
					<div class="btc_cont_form_wrapper">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="btc_cont_form_wrapper">
									<input type="text" placeholder="Your Name">
								</div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="btc_cont_form_wrapper btc_cont_form_wrapper2">
									<input type="text" placeholder="Your Email">
								</div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="btc_cont_form_wrapper3">
									<textarea rows="6" placeholder="Your Message"></textarea>
								</div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="view-btn btc_contt_btn">
									<a href="#">SEND</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow  fadeIn animated" data-wow-duration="1.5s">
					<div class="team2-area btc_right_contt">
						<div class="team-list">
							<div class="btc_contt_list_main_wrapper">
								<div class="btc_contt_list_inner_wrapper">
									<div class="btc_contt_icon_wrapper">
										<i class="fa fa-map-marker"></i>
									</div>
									<div class="btc_contt_icon_cont_wrapper">
										<p>110, B Kalani Bagh, Dewas M.P.</p>
										<p>INDIA #455001</p>
									</div>
								</div>
								<div class="btc_contt_list_inner_wrapper btc_contt_list_inner_wrapper2">
									<div class="btc_contt_icon_wrapper">
										<i class="fa fa-map-marker"></i>
									</div>
									<div class="btc_contt_icon_cont_wrapper">
										<p>+ 91 12345 67890</p>
										<p>+ 91 12345 67890</p>
									</div>
								</div>
								<div class="btc_contt_list_inner_wrapper btc_contt_list_inner_wrapper2">
									<div class="btc_contt_icon_wrapper">
										<i class="fa fa-map-marker"></i>
									</div>
									<div class="btc_contt_icon_cont_wrapper">
										<p><a href="#">bitunit@example.com</a></p>
										<p><a href="#">ico@example.com</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="media-area section bg-img jarallax">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="section-heading">
						<h2 class="wow  fadeIn animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: fadeIn;">Press (Media)</h2>
					</div>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2">
					<div class="mediabrand">
						<ul>
							<li class="wow  fadeIn animated" data-wow-duration="1.3s" style="visibility: visible; animation-duration: 1.3s; animation-name: fadeIn;">
								<a href="#"><img src="~/Content/images/media/1.png" alt="" /></a>
							</li>
							<li class="wow  fadeIn animated" data-wow-duration="1.6s" style="visibility: visible; animation-duration: 1.6s; animation-name: fadeIn;">
								<a href="#"><img src="~/Content/images/media/2.png" alt="" /></a>
							</li>
							<li class="wow  fadeIn animated" data-wow-duration="1.9s" style="visibility: visible; animation-duration: 1.9s; animation-name: fadeIn;">
								<a href="#"><img src="~/Content/images/media/3.png" alt="" /></a>
							</li>
							<li class="wow  fadeIn animated" data-wow-duration="2.1s" style="visibility: visible; animation-duration: 2.1s; animation-name: fadeIn;">
								<a href="#"><img src="~/Content/images/media/4.png" alt="" /></a>
							</li>
							<li class="wow  fadeIn animated" data-wow-duration="2.4s" style="visibility: visible; animation-duration: 2.4s; animation-name: fadeIn;">
								<a href="#"><img src="~/Content/images/media/5.png" alt="" /></a>
							</li>
							<li class="wow  fadeIn animated" data-wow-duration="2.7s" style="visibility: visible; animation-duration: 2.7s; animation-name: fadeIn;">
								<a href="#"><img src="~/Content/images/media/6.png" alt="" /></a>
							</li>
							<li class="wow  fadeIn animated" data-wow-duration="2.7s" style="visibility: visible; animation-duration: 2.7s; animation-name: fadeIn;">
								<a href="#"><img src="~/Content/images/media/7.png" alt="" /></a>
							</li>
							<li class="wow  fadeIn animated" data-wow-duration="2.7s" style="visibility: visible; animation-duration: 2.7s; animation-name: fadeIn;">
								<a href="#"><img src="~/Content/images/media/8.png" alt="" /></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="sud">
		<svg version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 181.1" style="enable-background:new 0 0 1920 181.1;" xml:space="preserve">
		<style type="text/css">

			.st0 {
				fill-rule: evenodd;
				clip-rule: evenodd;
				fill: #1f58b1;
			}
</style>
		<g>
		<path class="st0" d="M0,80c0,0,28.9-4.2,43-13c14.3-9,71-35.7,137,5c17.3,7.7,33.3,13,48,11c17.3,0.3,50.3,4.7,66,23
                     c20.3,9.7,68,40.3,134-12c24-11,59-16.3,104,2c21,7.3,85,27.7,117-14c24-30.7,62.7-55,141-12c26,10.3,72,14.7,110-14
                     c37.7-19,89.7-29,122,53c23,32.7,47.7,66.3,97,26c24-22.7,51-78.3,137-38c0,0,28.3,15.7,52,15c23.7-0.7,50.7,4.3,76,41
                     c19.7,19.7,71,36.7,121-2c0,0,22.3-16,55-12c0,0,32.7,6.7,56-71c23.3-76,79-92,122-29c9.3,13.7,25,42,62,43c37,1,51.7,25.3,67,48
                     c15.3,22.7,51,22.7,53,23v28.1H0V80z" />



                </g>
            </svg>
	</div>

</div>